@model VinhKhanhTourGuide.WebAdmin.Models.Tour

<h2>Xóa Tour</h2>

<h4>Bạn có chắc muốn xóa?</h4>

<div>
    <strong>@Model.Name</strong>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index">Cancel</a>
</form>